# Node.js modules
node_modules


# Log files
*.log
npm-debug.log*

# Environment variables file
# .env

# Next.js build output
# .next

# MacOS files
.DS_Store

# Editor directories and files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Git directories and files
.git
.gitignore

# Other potential files and directories to exclude
coverage
dist
